@model List<PeriodoLetivo>

@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Períodos Letivos";
    Layout= "~/Views/Shared/_LayoutAdmin.cshtml";
}

<header>
    <div class="header-title-container pad-left">
        <h1 class="header-title">Períodos Letivos</h1>
    </div>
    <button class="add-container pad-right btn-modal">
        <img class="add-icon" src="~/img/icons/add.svg" alt="add">
        <span class="add-title">Adicionar</span>
    </button>
</header>
<section class="table-container">
    @if (ViewBag.hasPeriodo == false)
    {
        <div class="table">
            <span class="msg-table">Nenhum Período Letivo adicionado</span>
        </div>
    }
    else
    {
        <div class="table">
            <div class="table-item">
                @foreach (var periodo in Model)
                {   
                    <section class="table-item-container">
                        <div class="table-item-btn">
                            <div class="table-details">
                                <label><span>Ano: </span>@periodo.Ano</label>
                                <label><span>Semestre: </span>@periodo.Semestre</label>
                            </div>
                            <div class="drop-btn-container">
                                <button class="drop-btn">
                                    <label for="btn-delete-@periodo.Id">
                                        <img src="~/img/icons/delete.svg" alt="Delete">
                                    </label>
                                    <input style="display: none;" class="btn-modal-del" name="id" onclick="openModalDel('@periodo.Id', '@periodo.Ano')" id="btn-delete-@periodo.Id"/>
                                </button>
                            </div>
                        </div>
                    </section>
                }
            </div>
        </div>
    }
</section>
<section class="modal">
    <div class="modal-container modal-container-typeco">
        <div class="title-modal-container">
            <h1 class="title-modal">Adicionar Período Letivo</h1>
            <button class="close-modal" id="close-modal-add">
                <img src="~/img/icons/close-rounded.svg" alt="Close">
            </button>
        </div>
        <form method="post" class="form-modal" id="form-add">
            <div class="field-modal">
                <label for="year-add">Ano de início</label>
                <input class="inp-modal" type="number" id="year-add" name="year" placeholder="Digite o Ano" autocomplete="false">
                <span class="erro"></span>
            </div>
            <div class="field-modal">
                <label for="semester-add">Semestre de início</label>
                <input class="inp-modal" type="number" id="semester-add" name="semester" placeholder="1 ou 2">
                <span class="erro"></span>
            </div>
            <button type="submit" class="btn btn-modal">Adicionar</button>
        </form>
    </div>
</section>
<section class="modal modal-del">
    <form asp-action="DeletePeriodo" method="post" class="modal-container modal-container-del">
        <div class="title-modal-container-del">
            <h1 class="title-modal-del">Tem certeza que deseja remover o período de ano <span id="name-del"></span> ?</h1>
        </div>
        <div class="btn-container-confirm">
            <button type="button" class="btn btn-modal btn-white-outline close-modal-del">Cancelar</button>
            <input type="hidden" name="id" id="id-del"/>
            <button type="submit" class="btn btn-modal">Remover</button>
        </div>
    </form>
</section>

@section Scripts{
    <script src="~/js/modal.js"></script>
}