@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Horário Final";
    Layout= "~/Views/Shared/_LayoutProfessor.cshtml";
}

<section class="container">
    <h1 class="horario-title">Horários</h1>
    <div class="container-table">
        <div class="table">
            <span class="msg-table" id="">O horário aparecerá aqui quando sua instituição enviar.</span>
            <!-- Dados da tabela aqui -->
        </div>
    </div>
</section>