@{
    ViewData["Title"] = "Home Page";
    ViewBag.Subtitulo = "Inicio";
}

@section Styles{
    <link rel="stylesheet" href="~/css/landing-page/style.css" />
}

<div class="div-main">
    <section class="section1">
        <div class="section1-text-container">
            <h1 class="title">
                Uma solução simples para seus horários escolares!
            </h1>
            <p class="subtitle">
                Feito especialmente para instituições que visam um<br />horário mais
                conveniente para professores e<br />alunos. Sem dores de cabeça nem
                perdas de<br />tempo.
            </p>
        </div>
        <div class="section1-img-container">
            <img class="img-top" src="~/img/landing-page/union.jpg" alt="Foto 1" />
            <div class="img-bottom-container">
                <img class="img-bottom" src="~/img/landing-page/notebook.jpg" alt="Foto 2" />
                <img class="img-bottom" src="~/img/landing-page/classroom.jpg" alt="Foto 3" />
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="section2-img-container">
            <img class="img2" src="~/img/landing-page/working.jpg" alt="Foto 4" />
            <img class="img2" src="~/img/landing-page/teacher.jpg" alt="Foto 5" />
        </div>
        <div class="section2-text-container">
            <h2 class="title2">Como funciona?</h2>
            <p class="subtitle2">
                Depois dos professores cadastrarem seu melhor horário e dias
                disponíveis. <br />
                O administrador irá apenas apertar o botão para gerar o horário
                completo!
            </p>
            <a asp-action="Planos" asp-controller="Home" class="btn btn-medium">Ver planos</a>
        </div>
    </section>
</div>

<section class="section3">
    <h1 class="title3">Vantagens</h1>
    <div class="section3-box-container">
        <div class="section3-box">
            <img class="box-icon" src="~/img/icons/idea.svg" alt="" />
            <h2 class="title-box">Algoritimo inteligente</h2>
            <p class="subtitle-box">
                Nosso algoritimo sabe qual o melhor horário para professores e
                alunos.
            </p>
        </div>
        <div class="section3-box">
            <img class="box-icon" src="~/img/icons/laptop.svg" alt="" />
            <h2 class="title-box">Interface intuitiva</h2>
            <p class="subtitle-box">
                Aion tem uma interface simples, intuitiva, e adaptada para todos
                os tipos de dispositivos.
            </p>
        </div>
        <div class="section3-box">
            <img class="box-icon" src="~/img/icons/target.svg" alt="" />
            <h2 class="title-box">Melhores planos</h2>
            <p class="subtitle-box">
                Planos para melhor atender quaisquer necessidades, com os melhores
                preços.
            </p>
        </div>
    </div>
</section>

<section class="section4">
    <div class="section4-container">
        <h1 class="title4">Crie o melhor Horário com Aion</h1>
        <h2 class="subtitle4">
            Planos Gratuitos | Não é necessário cartão de crédito
        </h2>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-big gap15">
            Começar
            <img class="arrow-right-index" src="~/img/icons/arrow-right-1.svg" />
        </a>
    </div>
</section>

<footer>
    <div class="footer-main">
        <div class="footer-container">
            <h1 class="footer-title">Mapa do site</h1>
            <ul class="footer-items-container">
                <li><a class="footer-item" asp-area="Identity" asp-page="/Account/Register">Cadastro</a></li>
                <li><a class="footer-item" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                <li><a class="footer-item" asp-action="Sobre" asp-controller="Home">Sobre</a></li>
                <li><a class="footer-item" asp-action="Planos" asp-controller="Home">Planos</a></li>
                <li><a class="footer-item" asp-action="PeriodoLetivo" asp-controller="Admin">Admin</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <h1 class="footer-title">Precisa de suporte?</h1>
            <ul class="footer-items-container">
                <li><a class="footer-item" href="javascript:void(0)">Fale conosco</a></li>
                <li><a class="footer-item" href="javascript:void(0)">Email</a></li>
                <li><a class="footer-item" href="javascript:void(0)">Telefone</a></li>
            </ul>
        </div>
        <div class="footer-container">
            <h1 class="footer-title">Redes Sociais</h1>
            <ul class="footer-items-container row">
                <li>
                    <a href="https://www.instagram.com" target="_blank">
                        <img src="~/img/icons/instagram.svg" alt="Instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="~/img/icons/twitter-line.svg" alt="Twitter" />
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank">
                        <img src="~/img/icons/facebook-circle-line.svg" alt="Facebook" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copy">
        <p class="copy-msg">
            Copyright© 2022 Aion. Todos os direitos reservados
        </p>
    </div>
</footer>

<div data-scroll="suave" data-anima="scroll">
    <a href="#topo">
        <div class="back-top-btn">
            <img class="arrow-top" src="~/img/icons/arrow-up.svg" />
        </div>
    </a>
</div>

<div class="whatsapp-btn">
    <a href="https://whatsapp.com" target="_blank">
        <img src="~/img/icons/whatsapp-icon.svg" alt="WhatsApp Logo" />
    </a>
</div>

@section Scripts{
    <script src="~/js/scroll-animation.js"></script>
    <script src="~/js/scroll-suave.js"></script>
    <script src="~/js/menu-mobile.js"></script>
}