@{
    ViewData["Title"] = "Sobre";
    ViewBag.Subtitulo = "Sobre";
}

@section Styles{
    <link rel="stylesheet" href="~/css/sobre/style.css" />
}

<article class="meet-aion">
    <div class="article-container">
        <h1 class="title">Conheça a Aion</h1>
        <p class="paragraph">Aion, uma iniciativa desenvolvida por dois estudantes que sempre estiveram 
            próximos das complexidades envolvidas na criação de horários escolares. Compreendemos o quão 
            desafiador e trabalhoso esse processo pode ser, não apenas para as escolas, mas também para os 
            alunos e professores. É por isso que criamos o Aion, uma ferramenta simples e eficaz projetada 
            para resolver esse problema que afeta mais de 90% das escolas brasileiras.</p>
    </div>
    <div class="article-container">
        <h2 class="subtitle">Nossa Missão</h2>
        <p class="paragraph">A missão do Aion é clara: ajudar instituições escolares a organizar seus horários de 
            forma simples e objetiva. Reconhecemos que a elaboração de horários escolares é uma tarefa crucial que 
            afeta diretamente a experiência de alunos e professores. Portanto, nosso compromisso é fornecer uma solução 
            que atenda a todas as necessidades das escolas, garantindo que os horários sejam favoráveis tanto para os alunos 
            quanto para os professores.</p>
    </div>
    <div class="article-container">
        <h2 class="subtitle">Valores</h5>
            <p class="paragraph">No Aion, acreditamos na importância do crescimento e na necessidade de mudança na perspectiva 
                das escolas em relação à criação de horários automáticos. </p>
    </div>
</article>
