@{
    ViewData["Title"] = "Sobre";
    ViewBag.Subtitulo = "Sobre";
}

@section Styles{
    <link rel="stylesheet" href="~/css/sobre/style.css" />
}

<article class="meet-aion">
    <div class="article-container">
        <h1 class="title">Conheça a Aion</h1>
        <p class="paragraph">A Aion é uma iniciativa feita por dois alunos que sempre viram de perto como é
            dificil determinar os horários escolares. Com isso Aion é uma ferramenta super simples e que tem o
            objetivo de acabar com esse problema que mais de 90% das escolas brasileiras passam.</p>
    </div>
    <div class="article-container">
        <h2 class="subtitle">Nossa Missão</h2>
        <p class="paragraph">Ajudar instituições escolares a organizar seus horários de forma simples e
            objetiva, ao mesmo tempo atendendo todas as necessidades que as escolas precisam para fazer um
            horário que seja bom para alunos e professores.</p>
    </div>
    <div class="article-container">
        <h2 class="subtitle">Valores</h5>
            <p class="paragraph">Queremos crescer e mudar a perspectiva das escolas a se atualizarem com
                horários automáticos.</p>
    </div>
</article>
<article class="meet-us">
    <h1 class="title">Quem somos nós?</h1>
    <div class="meet-us-container">
        <div class="owner">
            <img class="picture" src="~/img/photos/rafael.jpg" alt="Rafael Bueno">
            <p class="name">Rafael Bueno Gonzales</p>
            <p class="roles">CEO & CTO</p>
        </div>
        <div class="owner">
            <img class="picture" src="~/img/photos/tainara.jpg" alt="Tainara Alves">
            <p class="name">Tainara Alves do Nascimento</p>
            <p class="roles">Sócia Administrativa</p>
        </div>
    </div>
</article>