@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*
{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    outline: none;
}

html, body
{
    font-size: 100%;
    scroll-behavior: smooth;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

:root
{
    /* Main Purple */
    --purple01: #7D14C1;
    --purple02: #512F9D;
    
    /* Secondary Purple */
    --purple03: #6B19BA;
    --purple04: #9909CC;
    --purple05: #823bc5;
    --purple06: #7a30c1;

    /* White */
    --white01: #f8f8f8;
    --white02: #f5f5f5;
    --white03: #dfdfdf;

    /* Gray */
    --gray01: #5a5a5a;
    --gray02: #333;

    /* Red */
    --red01: #df3636;
    --red02: #bb2f2f;


    /* Default Font Size */
    --p-size: 1.2em;
    --small-title: 1.5em;
    --medium-title: 1.8em;
    --title: 2em;
    --big-title: 2.5em;
    
}

/* ScrollBar Style */

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 12px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 15px;
}

/* Default Buttons */

.btn    /* Small is Default */
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-image: linear-gradient(to right, var(--purple01), var(--purple02));
    color: white;
    font-size: var(--small-title);
    font-weight: 300;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-medium
{
    width: 250px;
    height: 70px;
    font-size: 1.8em;
}

.btn-big
{
    width: 280px;
    height: 90px;
    font-size: 1.8em;
}

.btn-modal
{
    width: 160px;
    height: 55px;
    font-size: 1.3em;
    margin-top: 10px;
}

.btn-purple
{
    background-image: none;
    background-color: var(--purple01);
}

.btn-white-outline
{
    background-image: none;
    color: var(--gray01);
    background-color: white;
    border: 3px solid var(--purple01);
}

.gap15
{
    gap: 15px;
}

/* Default Modal */

.modal, .modal-edt, .modal-conf, .modal-save
{
    position: fixed;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}

.modal-container, .modal-container-conf, .modal-container-save
{
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}

.modal-show
{
    opacity: 1;
    pointer-events: auto;
}

.title-modal-container
{
    display: flex;
    width: auto;
    position: relative;
}

.title-modal-container-del
{
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
}

.title-modal-container-save
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;
}

.title-modal-container-save span
{
    text-align: center;
    color: var(--red02);
}

.close-modal, .close-modal-edt
{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    right: 0px;
    background-color: transparent;
    cursor: pointer;
}

.title-modal
{
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 20px;
}

.title-modal-del
{
    width: auto;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 20px;
}

.title-modal-del > span
{
    font-weight: 600;
}

.form-modal
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 25px;
}

.btn-container-confirm
{
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}

.field-modal
{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field-modal > label
{
    width: fit-content;
    font-size: 1.2em;
}

.field-modal-checkbox label
{
    display: flex;
    font-size: 1.1em;
}

.inp-modal
{
    width: 22vw;
    height: 40px;
    padding: 8px 15px;
    border-radius: 15px;
    background-color: var(--white01);
    font-size: 1.05em;
}

/* Default Select */

.select-modal, .select-modal-edt, .select-modal-typeco, .select-modal-typecoEdt, .select-modal-coclass, .select-modal-coclassEdt, .select-modal-grid, .select-modal-gridEdt, .select-modal-peclass, .select-modal-peclassEdt, .select-modal-teassign, .select-modal-teassignEdt, .select-modal-gridassign, .select-modal-gridassignEdt, .select-modal-classassign, .select-modal-classassignEdt, .select-modal-grgridsub, .select-modal-grgridsubEdt, .select-modal-sgridsub, .select-modal-sgridsubEdt
{
    width: 22vw;
    height: 40px;
    padding: 8px 15px;
    border-radius: 15px;
    background-color: var(--white01);
    font-size: 1.05em;
}

.dropdown-container, .dropdown-container-edt, .dropdown-container-typeco, .dropdown-container-typecoEdt, .dropdown-container-coclass .dropdown-container-coclassEdt, .dropdown-container-grid, .dropdown-container-gridEdt, .dropdown-container-peclass, .dropdown-container-peclassEdt, .dropdown-container-teassign, .dropdown-container-teassignEdt, .dropdown-container-gridassign, .dropdown-container-gridassignEdt, .dropdown-container-classassign, .dropdown-container-classassignEdt, .dropdown-container-grgridsub, .dropdown-container-grgridsubEdt, .dropdown-container-sgridsub, .dropdown-container-sgridsubEdt
{
    position: relative;
    margin-top: -10px;
}

.dropdown-select, .dropdown-select-edt, .dropdown-select-typeco, .dropdown-select-typecoEdt, .dropdown-select-coclass, .dropdown-select-coclassEdt, .dropdown-select-grid, .dropdown-select-gridEdt, .dropdown-select-peclass, .dropdown-select-peclassEdt, .dropdown-select-teassign, .dropdown-select-teassignEdt, .dropdown-select-gridassign, .dropdown-select-gridassignEdt, .dropdown-select-classassign, .dropdown-select-classassignEdt, .dropdown-select-grgridsub, .dropdown-select-grgridsubEdt, .dropdown-select-sgridsub, .dropdown-select-sgridsubEdt
{
    width: 22vw;
    height: auto;
    max-height: 17vh;
    background-color: var(--white01);
    border-radius: 12px;
    overflow: auto;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s;
}

.dropdown-show, .dropdown-show-edt, .dropdown-show-typeco, .dropdown-show-typecoEdt, .dropdown-show-coclass, .dropdown-show-coclassEdt, .dropdown-show-grid, .dropdown-show-gridEdt, .dropdown-show-peclass, .dropdown-show-peclassEdt, .dropdown-show-teassign, .dropdown-show-teassignEdt, .dropdown-show-gridassign, .dropdown-show-gridassignEdt, .dropdown-show-classassign, .dropdown-show-classassignEdt, .dropdown-show-grgridsub, .dropdown-show-grgridsubEdt, .dropdown-show-sgridsub, .dropdown-show-sgridsubEdt
{
    opacity: 1;
    pointer-events: auto;
}

.item-select, .item-select-edt, .item-select-typeco, .item-select-typecoEdt, .item-select-coclass, .item-select-coclassEdt, .item-select-grid, .item-select-gridEdt, .item-select-peclass, .item-select-peclassEdt, .item-select-teassign, .item-select-teassignEdt, .item-select-gridassign, .item-select-gridassignEdt, .item-select-classassign, .item-select-classassignEdt, .item-select-grgridsub, .item-select-grgridsubEdt, .item-select-sgridsub, .item-select-sgridsubEdt
{
    display: flex;
    align-items: center;
    font-size: 1.15em;
    padding-left: 20px;
    color: var(--gray02);
    height: 40px;
    transition: .3s;
    cursor: pointer;
}

.item-select:hover, .item-select-edt:hover, .item-select-typeco:hover, .item-select-typecoEdt:hover, .item-select-coclass:hover, .item-select-coclassEdt:hover, .item-select-grid:hover, .item-select-gridEdt:hover, .item-select-peclass:hover, .item-select-peclassEdt:hover, .item-select-teassign:hover, .item-select-teassignEdt:hover, .item-select-gridassign:hover, .item-select-gridassignEdt:hover, .item-select-classassign:hover, .item-select-classassignEdt:hover, .item-select-grgridsub:hover, .item-select-grgridsubEdt:hover, .item-select-sgridsub:hover, .item-select-sgridsubEdt:hover
{
    background-color: var(--white03);
    padding-left: 25px;
    transition: .3s;
}

.item-select-add
{
    display: flex;
    align-items: center;
    font-size: 1.15em;
    padding-left: 20px;
    color: #444444;
    height: 40px;
    transition: .3s;
    cursor: pointer;
    position: relative;
}

.item-select-add:hover
{
    background-color: var(--white03);
}

.item-select-add img
{
    width: 30px;
    margin-right: 10px;
}

.item-select-container
{
    position: relative;
}

.check-select, .check-select-edt, .check-select-typeco, .check-select-typecoEdt, .check-select-coclass, .check-select-coclassEdt, .check-select-grid, .check-select-gridEdt, .check-select-peclass, .check-select-peclassEdt, .check-select-teassign, .check-select-teassignEdt, .check-select-gridassign, .check-select-gridassignEdt, .check-select-classassign, .check-select-classassignEdt, .check-select-grgridsub, .check-select-grgridsubEdt, .check-select-sgridsub, .check-select-sgridsubEdt
{
    display: none;
}

.check-select + label::after, .check-select-edt + label::after
{
    content: '';
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    display: none;
}

.check-select:checked + label::after, .check-select-edt:checked + label::after
{
    display: block;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%237D14C1' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

.check-select:checked + .item-select, .check-select-edt:checked + .item-select
{
    padding-left: 25px;
}

.bold
{
    font-weight: 600;
}

/* Default Checkbox */

.inp-checkbox
{
    display: none;
}

.inp-checkbox + label::before
{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid var(--purple01);
    margin: 1px 6px 0 0;
}

.inp-checkbox:checked + label::before
{
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%237D14C1' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

/* Table */

.container-table
{
    display: flex;
    width: auto;
}

.table
{
    width: auto;
    padding-top: 50px;
}

.horario-title
{
    width: auto;
    font-size: var(--big-title);
    font-weight: 400;
}

.msg-table
{
    font-size: var(--p-size);
    color: gray;
}

/* Table Carousel */

.table-carousel-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80.6vw;
    height: 75vh;
}

.table-wrapper
{
    font-size: var(--p-size);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 60vh;
    overflow-x: hidden;
}

.table-carousel
{
    display: flex;
    flex-wrap: nowrap;
    gap: 10vw;
}

.arrow-right, .arrow-left
{
    position: absolute;
    width: auto;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    margin-right: 1.5vw;
    cursor: pointer;
    background-color: transparent;
}

.arrow-hide
{
    display: none;
}

.arrow-left
{
    left: 0;
    right: auto;
    margin-right: 0;
    margin-left: 1.5vw;
}

.arrow-left, .arrow-right > img
{
    width: 4vw;
}

.arrow-left:hover, .arrow-right:hover
{
    transition: .5s;
    transform: scale(1.1);
}

.grid-table
{
    opacity: .3;
    transition: .3s;
}

.current-grid-table
{
    opacity: 1;
}

/* Tabela de disponibilidade */

.table-reg
{
    width: 60vw;
    font-size: 1.5em;
}

.thead-reg > tr
{
    height: 5vh;
}

.thead-reg > tr > th
{
    position: relative;
    width: 14.2%;
    background-color: var(--purple06);
    border: 2px solid var(--purple06);
    color: white;
}

.tbody-reg > tr
{
    height: 5vh;
}

.tbody-reg > tr > td
{
    position: relative;
    width: 14.2%;
    border: 2px solid var(--purple01);
    color: var(--gray02);
}

.tbody-reg > tr > td > label, .thead-reg > tr > th > label
{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 1vh;
}

.tbody-reg > tr > td > label
{
    cursor: pointer;
}

.tbody-reg-cursor-auto
{
    cursor: auto!important;
}

.select-all-container
{
    margin-top: 2vh;
    width: auto;
}

.select-all-container label
{
    display: flex;
    font-size: var(--p-size);
    color: var(--gray02);
    font-weight: 400;
    cursor: pointer;
}

.hide
{
    display: none;
}

/* TimeTabling */

.table-time
{
    width: 60vw;
}

.table-time thead tr th
{
    padding: .6vw;
    font-size: var(--p-size);
}

.table-time-logo
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-time-logo img
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 20%;
    width: 5.5vw;
}

.table-time th, .table-time td
{
    width: 14.2%;
    padding: .05vw;
    border: 3px solid var(--purple01);
    cursor: auto;
}

.table-time-title
{
    background-color: var(--purple01);
    color: white;
}

.table-time-title label
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.table-time-sidetitle
{
    position: relative;
    width: 5%!important;
}

.table-time-sidetitle label
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 1.4em;
    font-weight: 600;
}

.table-time-class
{
    width: 8%!important;
    font-weight: 600;
    border-right: 4px solid var(--purple01)!important;
}

.table-time-class span
{
    display: block;
    font-weight: 400;
}

.table-time-content label
{
    display: block;
    font-size: .9em;
    cursor: auto;
}

.table-time-content > label:first-child
{
    font-weight: 600;
}

.table-time-content > label:last-child
{
    font-size: .7em;
}

.table-time > tbody > tr:last-child
{
    border-bottom: 4px solid var(--purple01);
}

/* Barra de rolagem vertical da tabela */
.table-wrapper::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.table-wrapper::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
.table-wrapper::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 15px;
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px)
{
    .btn    /* Small is Default */
    {
        width: 80px;
        height: 40px;
        border-radius: 40px;
        font-size: var(--p-size);
        font-weight: 200;
    }
}