header
{
    display: flex;
    padding: 40px 60px;
    justify-content: space-between;
}

.logo-nav
{
    width: 200px;
    height: auto;
}

#logo-mobile
{
    display: none;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

#btn-menu
{
    width: 50px;
    height: auto;
    display: none;
    cursor: pointer;
}

.nav-items-container
{
    display: flex;
    align-items: center;
    width: auto;
    font-size: var(--small-title);
    font-weight: 600;
    gap: 42px;
}

.nav-item
{
    position: relative;
    color: var(--gray01);
}

.selected
{
    color: var(--purple02);
}

.nav-item::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: var(--purple01);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-item:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}

/* If the background is dark use the class nav-item-white */

.nav-item-white
{
    position: relative;
    color: white;
}

.nav-item-white::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-item-white:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}

/* Username */

.drop-container
{
    position: relative;
    width: auto;
}


.user-container
{
    display: flex;
    width: auto;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.user-container:hover + .user-drop
{
    opacity: 1;
    transition: .3s;
    pointer-events: auto;
}

.user-drop:hover
{
    opacity: 1;
    transition: .3s;
    pointer-events: auto;
}

#username
{
    width: auto;
    font-size: var(--small-title);
    font-weight: 600;
    color: var(--purple02);
    font-family: 'Poppins', sans-serif;
}

.user-arrow
{
    width: 45px;
}

.user-picture
{
    width: 45px;
}

/* UserName DropDown */

.user-drop
{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    background-color: var(--white02);
    border-radius: 20px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

.user-drop li
{
    width: auto;
    padding-top: 5px;
}

.user-drop li a
{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    gap: 10px;
}

.user-drop li a:hover
{
    background-color: var(--white03);
    transition: .3s;
}

.user-drop li a:hover > span
{
    padding-left: 3px;
    transition: .3s;
}

.user-drop li img
{
    width: 15%;
}

.user-drop li a span
{
    font-size: 1.15em;
    color: var(--purple02);
    transition: .3s;
}

.line-user
{
    width: 100%;
    height: 2px;
    background-color: rgb(179, 179, 179);
    border-radius: 100%;
    margin-top: 5px;
}

.logout
{
    cursor: pointer;
}

.logout button
{
    display: flex;
    background-color: transparent;
    font-size: 1.15em;
    cursor: pointer;
}

.logout span
{
    color: var(--red01)!important;
    width: max-content;
}

/* Dont show the button */

.hidden-btn
{
    visibility: hidden;
}

#menu-hamburger
{
    display: none;
}

#btn-hamburger
{
    display: none;
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px)
{
    header
    {
        display: flex;
        position: fixed;
        padding: 10px;
        justify-content: space-between;
        width: 100vw;
        height: 10vh;
        background-color: white;
    }

    .navbar
    {
        justify-content: start;
    }

    .logo-nav
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        order: 2;
    }

    #btn-menu
    {
        display: flex;
        width: 40px;
        height: auto;
        cursor: pointer;
    }

    #btn-nav
    {
        display: none;
    }

    #menu-hamburger
    {
        transition: 1s ease-in;
        order: 1;
    }

    #menu-hamburger:checked ~ .nav-items-container
    {
        left: 0;
    }

    #btn-hamburger
    {
        display: block;
        background-image: none;
        background-color: white;
        color: black;
        font-size: 0.8em;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 20px;
        border: 2px solid var(--purple01);
    }

    .nav-items-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10vh;
        left: -100%;
        width: 60vw;
        height: 90vh;
        background-color: var(--purple01);
        z-index: 100;
        gap: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .nav-items-container li
    {
        padding: 20px 0 0 20px;
    }

    .nav-item
    {
        font-size: 0.9em;
        color: white;
    }

    .whatsapp-btn
    {
        display: none;
    }
}

